body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(235, 127, 163);
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.header_text {
    font-family: cursive;
    font-size: 8vw;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 10px 0;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_container img {
    max-width: 100%;
    height: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    position: relative;
}

.btn {
    background-color: #e20724;
    font-family: cursive;
    font-weight: bold;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #b1061c;
}

#noButton {
    position: absolute;
    transition: 0.5s;
}

@media (max-width: 600px) {
    .header_text {
        font-size: 6vw;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}
